<a href="https://colab.research.google.com/github/NilmaraSalgado/EducacaoBemolDigital/blob/main/CursoBemolDigital_aula04_05_06_07_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução**

Nossas atividades serguirão os quatros tópicos abaixo:
1. Leitura
2. Tratamento
3. Manipulação
4. Exportação de Relatório

Vamos trabalhar com:
* Base de dados de vendas on-line (endereço de entrega)
* Base de vendas
* Base de pedidos (status)
* Planilha de descrição de significados de cada grupo

## Para iniciarmos o trabalho com a manipulação de dados vamos importar a biblioteca Pandas (funções para manipulação e análise de dados).

In [1]:
# instalação da biblioteca unicode para trabalho com formato de letras.
!pip install unidecode

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/9e/25/723487ca2a52ebcee88a34d7d1f5a4b80b793f179ee0f62d5371938dfa01/Unidecode-1.2.0-py2.py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 5.1MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.2.0

In [2]:
import pandas as pd
from unidecode import unidecode
# imporação para o tópico 8
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# **1 Leitura de Arquivos**

### 1.1 Arquivos TXT (CSV)

**Sintaxe:**
pd.read_csv(string, sep=string, skiprows=int, encoding=string, dtype=dict

**Parâmetros:**
1. nome do arquivo
2. sep = separador, caractere que separa os dados. Por exemplo, a vírgula.
3. skiprows = quantidade de linhas a serem puladas, pois, normalmente, temos linhas com outras informações no início da página.
4. encoding = codificação do arquivo (UTF-8 ou latin-1). Já identifica qual é o formato.
5. dtype = O python identifica o tipo de variável, então podemos predizer o tipo de cada coluna. Isso contribui para economia de memória.

In [3]:
#guardando na variável df_endereco
df_endereco = pd.read_csv('endereco.txt',sep ='|', skiprows = 3, encoding='latin-1', dtype={1:'str'})

In [4]:
df_pedidos = pd.read_csv('pedidos.txt', sep = '|', skiprows = 3, encoding='latin-1', dtype={1:'str'})

In [5]:
df_vendas = pd.read_csv('vendas.txt', sep='|', skiprows=3, encoding= 'latin-1', dtype={1:'str'})

## 1.2 Arquivos XLS

**Sintaxe:** pd.read_excel(string, skiprows = int, dtype = dict, sheet_name=int ou string)

**Parâmetros:**
1. nome do arquivo
2. skiprows = quantidade de linhas a serem puladas
3. dtype = pré dizer o tipo de cada coluna
4. sheet_name = index ou o nome da aba

In [6]:
df_grupos_merc = pd.read_excel('grupos_merc.xlsx', skiprows=0, dtype={0:'str'}, sheet_name=0)

# **2 Visualização de DataFrames**

## 2.1 Head

**Sintaxe:**
df.head(n)

**Parâmetros:**
n um número inteiro
 * n>0 = retorna as n primeiras linhas do df
 * n<0 = todas as linhas exceto as n últimas

In [7]:
df_grupos_merc.head()

      GRUPOS                  DESCRIÇÃO
0        133                   PET SHOP
1     133001    UTILIDADES CÃES E GATOS
2  133001001        ACESSÓRIOS PARA PET
3  133001002  HIGIENE E BELEZA PARA PET
4  133001003        TRANSPORTE PARA PET

## 2.2 Tail

Sintaxe: df.tail(n)

Parâmetros: n um número inteiro

* n>0 = retorna as n últimas linhas
* n<0 - retorna as últimas linhas exceto as n primeiras

In [8]:
df_grupos_merc.tail()

       GRUPOS          DESCRIÇÃO
36  134005002      HIGIENE BUCAL
37  134005003         GERIÁTRICO
38  134005004   HIGIENE INFANTIL
39  134005005   HIGIENE FEMININA
40  134005006  HIGIENE MASCULINA

## 2.3 LOC

**Sintaxe:** df.loc[primeira linha: ultima linha, primeira : ultima coluna]

In [9]:
df_grupos_merc.loc[5:10,'GRUPOS':'DESCRIÇÃO']

       GRUPOS           DESCRIÇÃO
5      133002       ALIMENTOS PET
6   133002001   ALIMENTOS P/ CÃES
7   133002002  ALIMENTOS P/ GATOS
8         134        CONVENIÊNCIA
9      134001           ALIMENTOS
10  134001001   ALIMENTOS BÁSICOS

## 2.4 ILOC

**Sintaxe:** df.iloc[primeira linha: ultima linha + 1, indice da primeira coluna : indice da ultima coluna + 1]

In [10]:
df_grupos_merc.iloc[5:11,0:1]

       GRUPOS
5      133002
6   133002001
7   133002002
8         134
9      134001
10  134001001

##2.5 Acessar um dado específico

**Sintaxe:** df[nome da coluna][indice da linha

In [11]:
df_grupos_merc['GRUPOS'][0]

'133'

# **3 Tratamento de Dados**

## 3.1 Padronização  dos nomes das colunas

### 3.1.1 Rename (Renomear)negrito

**Sintaxe:** df.rename(columns=dict)

**Parâmetros:**
1. dict: {'nome_atual':'nome_novo', ...texto em itálico}

In [12]:
# visualizar colunas. Observar os espaços em branco.
df_endereco.columns

Index(['Unnamed: 0', '        Ped BOL',
       'Bairro                                  ', 'Rg', 'Unnamed: 4'],
      dtype='object')

In [13]:
df_endereco = df_endereco.rename(columns={'        Ped BOL':'ped_bol', 'Bairro                                  ':'bairro','Rg':'uf'})
df_endereco

                                              Unnamed: 0  ... Unnamed: 4
0      ----------------------------------------------...  ...        NaN
1                                                    NaN  ...        NaN
2                                                    NaN  ...        NaN
3                                                    NaN  ...        NaN
4                                                    NaN  ...        NaN
...                                                  ...  ...        ...
37305                                                NaN  ...        NaN
37306                                                NaN  ...        NaN
37307                                                NaN  ...        NaN
37308                                                NaN  ...        NaN
37309  ----------------------------------------------...  ...        NaN

[37310 rows x 5 columns]

### 3.1.2 Columns

**Sintaxe:** df.columns=list

**Parâmetros:**
1. list: lista com todos os nomes novos das colunas

In [14]:
df_pedidos.columns = ['0','ped_bol','data', 'status', '4']

In [15]:
df_pedidos

                                             0          ped_bol  ...      status   4
0      ---------------------------------------              NaN  ...         NaN NaN
1                                          NaN  900000000550488  ...  3D         NaN
2                                          NaN  900000000550588  ...  3D         NaN
3                                          NaN  900000000550646  ...  3D         NaN
4                                          NaN  900000000550648  ...  3D         NaN
...                                        ...              ...  ...         ...  ..
18650                                      NaN  900000001316962  ...  3A         NaN
18651                                      NaN  900000001316974  ...  2I         NaN
18652                                      NaN  900000001316980  ...  2D         NaN
18653                                      NaN  900000001317024  ...  3B         NaN
18654  ---------------------------------------              NaN  ...         NaN NaN

[18655 rows x 5 columns]

### 3.1.3 list comprehecion

**Sintaxe:** 

[operação for item x lista] #aplique a expressão operaçao em cada x da lista.

* criar e manipular listas.

In [16]:
#lista exemplo
lista = [1,2,3]

In [17]:
#exemplo de uso
[x*2 for x in lista]

[2, 4, 6]

In [18]:
#strip - remove caractere  e replace - substitui caractere
'Grp.merc.'.lower().replace('.',' ').strip().replace(' ','_').replace('.','_')

'grp_merc'

In [19]:
df_vendas.columns = [x.lower().replace('.',' ').strip().replace(' ','_').replace('.','_') for x in df_vendas.columns]
df_vendas

                                              unnamed:_0  ... unnamed:_6
0      ----------------------------------------------...  ...        NaN
1                                                    NaN  ...        NaN
2                                                    NaN  ...        NaN
3                                                    NaN  ...        NaN
4                                                    NaN  ...        NaN
...                                                  ...  ...        ...
40209                                                NaN  ...        NaN
40210                                                NaN  ...        NaN
40211                                                NaN  ...        NaN
40212                                                NaN  ...        NaN
40213  ----------------------------------------------...  ...        NaN

[40214 rows x 7 columns]

## 3.2 Eliminando linhas ou colunas

### 3.2.1 drop

**Sintaxe:** df.drop(list, axis=int) 

**Parâmetros:**
1. list: lista de colunas ou linhas que se deseja deletar
2. int: 0 -> deletando linhas , 1 -> deletando colunas

In [20]:
#deletando colunas
df_vendas = df_vendas.drop(['unnamed:_0', 'unnamed:_6'], axis = 1)

In [21]:
#deletando linhas
df_vendas.drop([0,40213], axis = 0)

               ped_bol  material  quantidade    montante     grp_merc
1      900000000550488  205792.0      1,000      169,00   134001001.0
2      900000000550588  205792.0      1,000      169,00   134001001.0
3      900000000550646  205791.0      3,000      417,00   134001001.0
4      900000000550648  205792.0      1,000      169,00   134001001.0
5      900000000550841  205792.0      1,000      169,00   134001001.0
...                ...       ...         ...         ...          ...
40208  900000001316980  206195.0      2,000        4,10   134001005.0
40209  900000001316980  206251.0      3,000        5,55   134001005.0
40210  900000001316980  205869.0      3,000       34,50   134001001.0
40211  900000001316980  206247.0      6,000       34,20   134001006.0
40212  900000001317024  205767.0      1,000      174,00   134001003.0

[40212 rows x 5 columns]

### 3.2.2 Selecionando colunas

**Sintaxe:** df[list].copy()

**Parâmetros:**

1. list: lista de colunas a manter

In [22]:
#posso alterar a ordem das colunas, pois cria cópia de algum resultado
df_pedidos = df_pedidos[['ped_bol','data','status']].copy()

### 3.2.3 dropna

**Sintaxe:** df.dropna(axis=int,subset=list)

**Parâmetros:**
1. axis= 0, linha; 1, colunas
2. subset = lista de colunas selecionadas

In [23]:
df_vendas = df_vendas.dropna(axis = 0, subset= ['ped_bol'])

In [24]:
df_endereco = df_endereco.dropna(axis = 0, subset = ['ped_bol'])

In [25]:
df_endereco = df_endereco.dropna(axis=1)

In [26]:
df_pedidos = df_pedidos.dropna(axis=0, subset = ['ped_bol'])

In [27]:
df_grupos_merc = df_grupos_merc.dropna(axis = 0, subset = ['ped_bol'])

KeyError: ignored

## 3.3 Tipos de colunas

**Sintaxe:**

df.dtypes

* verificar tipagens das colunas

In [ ]:
df_grupos_merc.dtypes

**Sintaxe:** 

 df['coluna'].unique()

  * Conseguir visualizar se as strings de uma coluna tem caracteres "lixo"

In [ ]:
df_grupos_merc['descricao'].unique()

In [ ]:
df_status.dtypes

In [ ]:
#Para aplicar funções especícas de string em uma coluna completa de um dataframe usar o .str antes da função
df_status['ped_bol'] = df_status['ped_bol'].str.strip()

In [ ]:
df_status['status'] = df_status['status'].str.strip()

**Sintaxe:**

pd.to_datetime(df['coluna'], format=string) 

Alterando do tipo string para o datetime
1. string: formato da data como string
dia -> %d , mês -> %m , ano -> %Y , hora -> %H, minuto -> %M, segundo -> %S

In [ ]:
df_status['data'] = pd.to_datetime(df_status['data'], format='%d.%m.%Y')

In [ ]:
df_vendas.dtypes

In [ ]:
df_vendas['ped_bol'] = df_vendas['ped_bol'].str.strip()

In [ ]:
df_vendas['material'] = df_vendas['material'].str.strip()

In [ ]:
df_vendas['grp_merc'] = df_vendas['grp_merc'].str.strip()

**Sintaxe:**
df['coluna'].astype(n) 

* Para alterar tipo entre inteiros, decimais e caracters: Onde n pode ser: 1. int - para converter para inteiro 2. str - para converter para string 3. oat - para converter para decima

In [ ]:
df_vendas['quantidade'] = df_vendas['quantidade'].str.strip().str.replace('.','').str.replace(',','.').astype(float).astype(i

In [ ]:
df_vendas['montante'] = df_vendas['montante'].str.strip().str.replace('.','').str.replace(',','.').astype(float)

In [ ]:
df_endereco['ped_bol'] = df_endereco['ped_bol'].str.strip()

In [ ]:
df_endereco['bairro'] = df_endereco['bairro'].str.strip()

In [ ]:
df_endereco['uf'] = df_endereco['uf'].str.strip()

### Tratar o formato das letras

**Sintaxe:** 
df.apply (função, axis = 1) -> tabela inteira
df['coluna'].apply (função) -> coluna específica

Observação: Será instalado a biblioteca unidecode

In [ ]:
df_endereco['bairro'].apply(unidecode)

In [ ]:
#Observar que estamos alterando, mas atribuindo somente para 1 coluna
df_endereco = df_endereco['bairro'].apply(unidecode).str.upper()

# **4 Tratamento de Dados (Regra de Negócio)**

## 4.1  Drop duplicates

**Sintaxe:**
df.drop_duplicates(subset=list, keep = string) 
1. list: selecionar as colunas que se deseja eliminar os duplicados 
2. keep: 'rst' -> mantém a primeira linha / 'last' -> mantém a última linha

* Elimando linhas duplicadas

In [ ]:
df_endereco = df_endereco.drop_duplicates(subset=['ped_bol'], keep = 'last')

**Sintaxe:** 
df.reset_index(drop=boolean) 

1. boolean: True -> apaga a coluna index que será criada / False -> mantém

In [ ]:
df_endereco = df_endereco.reset_index(drop=True)

## 4.2 Filtros

**Sintaxe:**
 df[condição].copy() 
 df[(condição 1) operador lógico (condição 2) ...].copy() 
 
 1. operador: and (e) -> &, or (ou) -> |, not (negar) -> ~ 
 2. condicao: == (igual), != (diferente), < ou <=, > ou >=

In [ ]:
df_status = df_status[(df_status['status']!='4A') & (df_status['status'] != '4B')].copy()

## 4.3 Agrupamento de Dados

**Sintaxe:** 
df.groupby(list).agg(dict)
 1. list: lista de colunas a serem agrupadas 
 2. dict: informar o que fazer com o restante das colunas
 {'coluna1': 'função1', 'coluna2': 'função2',...} 
 * função: 'rst', 'last', 'min', 'max', 'sum', 'median', 'mean'

In [ ]:
df_vendas = df_vendas.groupby(['ped_bol', 'grp_merc']).agg({'quantidade':'sum', 'montante':'sum'}).reset_index()

# **5 Correlação de Dados**

**Sintaxe:** 
pd.merge(df_esquerda, df_direita, on=list, how=string)
 1. list: colunas em comum entre as duas tabelas 
 2. how: como ele vai unir as duas tabelas
 
'left' -> priorizar a tabela da esquerda 'right'-> priorizar a tabela da direita 'inner' -> igualmente para as duas 'outer' -> retorna todos os dados

In [ ]:
#Criando um DataFrame 1  para demonstrar o uso da correlação de dados
df1 = pd.DataFrame({'material': ['FOGÃO', 'GELADEIRA'], 'valor':[350, 1200]})
df1

In [ ]:
#Criando um DataFrame 2  para demonstrar o uso da correlação de dados
df2 = pd.DataFrame({'material': ['GELADEIRA', 'XBOX'], 'quantidade':[2, 5]})
df2

In [ ]:
pd.merge(df1, df2, on=['material'], how='left')

In [ ]:
pd.merge(df1, df2, on=['material'], how='right')

In [ ]:
pd.merge(df1, df2, on=['material'], how='inner')

In [ ]:
pd.merge(df1, df2, on=['material'], how='outer')

* Para setar um valor aos registros faltantes. Por exemplo: setar 0 

**fillna(valor)**

 **Sintaxe:** df.fillna(valor) df['coluna'].fillna(valor)

valor -> string, int, float, boolean

In [ ]:
pd.merge(df1, df2, on=['material'], how='outer').fillna(0)

**Agora vamos trabalhar no nosso merge**

In [ ]:
df_status.head(2)

In [ ]:
df_endereco.head(2)

In [ ]:
df_dados = pd.merge(df_status, df_endereco, on=['ped_bol'], how='left')

In [ ]:
df_dados.head(2)

In [ ]:
df_vendas.head(2)

In [ ]:
df_dados = pd.merge(df_dados, df_vendas, on=['ped_bol'], how='left')

In [ ]:
df_dados.head(2)

In [ ]:
df_grupos.head(2)

In [ ]:
df_dados = pd.merge(df_dados, df_grupos, on=['grp_merc'], how='left')

# **6 Manipulação de Dados**

## 6.1 Identificação de Outliers

In [ ]:
# descreve a estrutura de tabelas com suas colunas e tipo de dados
df_dados['montante'].describe()

In [ ]:
df_dados['montante'].plot.hist()

In [ ]:
df_dados.boxplot(column='montante')

In [ ]:
df_dados[df_dados['montante']==18720]

In [ ]:
df_dados.shape

In [ ]:
df_dados = df_dados[df_dados['montante']<2500].copy()

## 6.2 UF

In [ ]:
df_uf = df_dados.groupby(['uf']).agg({'montante':'sum'}).reset_index()

**Ordenar Valores**

**Sintaxe:** df.sort_values(list, ascending = list)

list: colunas bases a serem ordenadas
list: valores booleanos = True: ordenar em ordem crescente / False: ordenar em ordem decrescente

In [ ]:
df_uf = df_uf.sort_values(['montante'], ascending = False).reset_index(drop=True)

In [ ]:
soma = df_uf['montante'].sum()

In [ ]:
df_uf['%_vendas'] =  df_uf['montante'] / soma

In [ ]:
df_uf.head()

## 6.3 Bairro

In [ ]:
df_temp = df_dados.groupby(['uf','bairro']).agg({'montante':'sum'}).reset_index()

In [ ]:
df_temp['uf'].unique()

In [ ]:
df_temp2 = df_temp[df_temp['uf']=='SP'].copy()

In [ ]:
df_temp2 = df_temp2.sort_values(['montante'],ascending=False)

In [ ]:
soma = df_temp2['montante'].sum()

In [ ]:
df_temp2['%_vendas'] = df_temp2['montante'] / soma

In [ ]:
df_temp3 = df_temp[df_temp['uf']=='AM'].copy()

In [ ]:
df_temp3 = df_temp3.sort_values(['montante'],ascending=False)

In [ ]:
soma = df_temp3['montante'].sum()

In [ ]:
df_temp3 = df_temp3.head(10).copy()

In [ ]:
df_temp3['%_vendas'] = df_temp3['montante'] / soma

In [ ]:
df_temp2.head(2)

In [ ]:
df_temp3.head(2)

**Concatenar tabelas**

**Sintaxe:** pd.concat(list)

list: lista de tabelas a serem unidas

In [ ]:
pd.concat([df_temp2,df_temp3])

In [ ]:
df_bairro = pd.DataFrame()

In [ ]:
for UF in df_temp['uf'].unique():
  df_temp2 = df_temp[df_temp['uf']==UF].copy()
  df_temp2 = df_temp2.sort_values(['montante'],ascending=False)
  soma = df_temp2['montante'].sum()
  df_temp2 = df_temp2.head(10).copy()
  df_temp2['%_vendas'] = df_temp2['montante'] / soma
  df_bairro = pd.concat([df_bairro,df_temp2])

##6.4 Grupo de Mercadorias

**Categorias ABC**

1. A -> representam até 70% do faturamento
2. B -> representam até 90% do faturamento
3. C -? representem os últimos 10%

In [ ]:
df_temp = df_dados.groupby(['uf','bairro','descricao']).agg({'montante':'sum'}).reset_index()

In [ ]:
df_temp2 = df_temp[df_temp['uf']=='AM'].copy()

In [ ]:
df_temp3 = df_temp2[df_temp2['bairro']=='ZUMBI DOS PALMARES'].copy()

In [ ]:
soma = df_temp3['montante'].sum()

In [ ]:
df_temp3['%_vendas'] = df_temp3['montante'] / soma

In [ ]:
df_temp3 = df_temp3.sort_values('%_vendas',ascending=False)

In [ ]:
df_temp3['categoria'] = df_temp3['%_vendas'].expanding().sum()

In [ ]:
def categorizar_abc(valor):
  if valor<=0.7:
    return 'A'
  elif valor<=0.9:
    return 'B'
  else:
    return 'C'

In [ ]:
df_temp3['categoria_abc'] = df_temp3['categoria'].apply(categorizar_abc)

In [ ]:
df_categorias = pd.DataFrame()

for UF in df_temp['uf'].unique():
  df_temp2 = df_temp[df_temp['uf']==UF].copy()
  for BAIRRO in df_temp2['bairro'].unique(): 
    df_temp3 = df_temp2[df_temp2['bairro']==BAIRRO].copy()
    soma = df_temp3['montante'].sum()
    df_temp3['%_vendas'] = df_temp3['montante'] / soma
    df_temp3 = df_temp3.sort_values('%_vendas',ascending=False)
    df_temp3['categoria'] = df_temp3['%_vendas'].expanding().sum()
    df_temp3['categoria_abc'] = df_temp3['categoria'].apply(categorizar_abc)
    df_categorias = pd.concat([df_categorias,df_temp3])

In [ ]:
df_uf.head()

In [ ]:
df_bairro.head()

In [ ]:
df_categorias.head()

# **7 Exportando os Dados**

## 7.1 Exportando em Excel

**Sintaxe:**
writer = pd.ExcelWriter(string)

df.to_excel(writer, sheet_name = string)
df2.to_excel(writer, sheet_name = string2)

writer.save()

1. string: nome do arquivo em excel
2. sheet_name: nome da aba

In [ ]:
writer = pd.ExcelWriter('Localidade.xlsx')

df_uf.to_excel(writer, sheet_name = 'Estado', index=False)
df_bairro.to_excel(writer, sheet_name = 'Bairro', index=False)

writer.save()

## 7.2 Exportando em CSV ou TXT

**Sintaxe:**
df.to_csv(string,sep=string,index=boolean)

string= nome do arquivo
sep = separador de dados
index= True: exportar com index, False: exportar sem index

In [ ]:
df_categorias.to_csv('categorias_abc.csv',sep=',',index=False)

# **8 Visualização de dados**

## 8.1 Carregando as tabelas de vendas e categoria ABC

### 8.1.1 Tabela de vendas por Estado:

In [ ]:
vendas_est = pd.read_excel('Localidade.xlsx', sheet_name='Estado')
vendas_est

### 8.1.2 Tabela de vendas por bairros:

In [ ]:
vendas_bai = pd.read_excel('Localidade.xlsx', sheet_name='Bairro')
vendas_bai

### 8.1.3 Tabela de categorização ABC: