<a href="https://colab.research.google.com/github/NilmaraSalgado/EducacaoBemolDigital/blob/main/CursoBemolDigital_aula04_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução**

## Para iniciarmos o trabalho com a manipulação de dados vamos importar a biblioteca Pandas

In [ ]:
import pandas as pd

# **1 Leitura de Arquivos**

### 1.1 Arquivos TXT (CSV)

**Sintaxe:**
pd.read_csv(string, sep=string, skiprows=int, encoding=string, dtype=dict

**Parâmetros:**
1. nome do arquivo
2. sep = separador, caractere que separa os dados
3. skiprows = quantidade de linhas a serem puladas
4. encoding = codificação do arquivo (UTF-8 ou latin-1)
5. dtype = pré dizer o tipo de cada coluna

In [4]:
df_endereco = pd.read_csv('endereco.txt',sep ='|', skiprows = 3, encoding='latin-1', dtype={1:'str'})

In [5]:
df_pedidos = pd.read_csv('pedidos.txt', sep = '|', skiprows = 3, encoding='latin-1', dtype={1:'str'})

In [7]:
df_vendas = pd.read_csv('vendas.txt', sep='|', skiprows=3, encoding= 'latin-1', dtype={1:'str'})

## 1.2 Arquivos XLS

**Sintaxe:** pd.read_excel(string, skiprows = int, dtype = dict, sheet_name=int ou string)

**Parâmetros:**
1. nome do arquivo
2. skiprows = quantidade de linhas a serem puladas
3. dtype = pré dizer o tipo de cada coluna
4. sheet_name = index ou o nome da aba

In [20]:
df_grupos_merc = pd.read_excel('grupos_merc.xlsx', skiprows=0, dtype={0:'str'}, sheet_name=0)

# **2 Visualização de DataFrames**

## 2.1 Head

**Sintaxe:**
df.head(n)

**Parâmetros:**
n um número inteiro
 * n>0 = retorna as n primeiras linhas do df
 * n<0 = todas as linhas exceto as n últimas

In [21]:
df_grupos_merc.head()

      GRUPOS                  DESCRIÇÃO
0        133                   PET SHOP
1     133001    UTILIDADES CÃES E GATOS
2  133001001        ACESSÓRIOS PARA PET
3  133001002  HIGIENE E BELEZA PARA PET
4  133001003        TRANSPORTE PARA PET

## 2.2 Tail

Sintaxe: df.tail(n)

Parâmetros: n um número inteiro

* n>0 = retorna as n últimas linhas
* n<0 - retorna as últimas linhas exceto as n primeiras

In [22]:
df_grupos_merc.tail()

       GRUPOS          DESCRIÇÃO
36  134005002      HIGIENE BUCAL
37  134005003         GERIÁTRICO
38  134005004   HIGIENE INFANTIL
39  134005005   HIGIENE FEMININA
40  134005006  HIGIENE MASCULINA

## 2.3 LOC

**Sintaxe:** df.loc[primeira linha: ultima linha, primeira : ultima coluna]

In [23]:
df_grupos_merc.loc[5:10,'GRUPOS':'DESCRIÇÃO']

       GRUPOS           DESCRIÇÃO
5      133002       ALIMENTOS PET
6   133002001   ALIMENTOS P/ CÃES
7   133002002  ALIMENTOS P/ GATOS
8         134        CONVENIÊNCIA
9      134001           ALIMENTOS
10  134001001   ALIMENTOS BÁSICOS

## 2.4 ILOC

**Sintaxe:** df.iloc[primeira linha: ultima linha + 1, indice da primeira coluna : indice da ultima coluna + 1]

In [24]:
df_grupos_merc.iloc[5:11,0:1]

       GRUPOS
5      133002
6   133002001
7   133002002
8         134
9      134001
10  134001001

##2.5 Acessar um dado específico

**Sintaxe:** df[nome da coluna][indice da linha

In [26]:
df_grupos_merc['GRUPOS'][0]

'133'

# **3 Tratamento de Dados**

## 3.1 Renomear Colunas

**Sintaxe:** df.rename(columns=dict)

**Parâmetros:
1. dict: {'nome_atual':'nome_novo', ...texto em itálico}

In [27]:
# visualizar colunas
df_endereco.columns

Index(['Unnamed: 0', '        Ped BOL',
       'Bairro                                  ', 'Rg', 'Unnamed: 4'],
      dtype='object')

In [29]:
df_endereco = df_endereco.rename(columns={' Ped BOL':'ped_bol', 'Bairro ':'bairro','Rg':'RF'})